<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Go Business Fares Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <!-- Latest compiled JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>	-->
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
	<!--to access global variable-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="js/airportList.js"></script>
	<script type="text/javascript" src="js/quote.js"></script>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="" style="height:50px;">
	<nav class="navbar navbar-default navbar-fixed-top" style="">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		  </button>
		  <a class="navbar-brand" href="http://www.gobusinessfares.com"><b>GoBusinessFares</b></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#about">ABOUT</a></li>
			<li><a href="#services">SERVICES</a></li>
			<li><a href="#portfolio">PORTFOLIO</a></li>
			<li><a href="#pricing">OFFERS</a></li>
			<li><a href="#contact">CONTACT</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
</div>


<div class="divone" style="padding-top:20px; border-bottom:1px solid #00000008;" ng-app="bdf" ng-controller="bdfCtrl">
		<div class="container" data-ng-init="onLoadFun()">
			<div class="row">
				<div class="col-lg-7">
					
					<form name="quotation" id="quotation"  ng-submit="submitForm()">
						
						<p style="font-size: 24px;">Get a Free Quote</p>
						
						 <!-- Modal -->
						  <div class="modal fade" id="myModal" role="dialog" style="padding-top:50px;">
							<div class="modal-dialog">
							
							  <!-- Modal content-->
							  <div class="modal-content">
							   
								<div class="modal-body">
									<div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" ng-show="successMessagebool">
										<strong>{{successMessage}}</strong>
								</div>
								<div class="col-lg-12 col-sm-12 col-xs-12 alert alert-danger" ng-show="errorMessagebool">
										<strong>{{errorMessage}}</strong>
								</div>
								</div>
								<div class="modal-footer">
								  <button type="button" id="myModalClose" ng-click="myModalClose();" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							  </div>
							  
							</div>
						  </div>
						<!-- Modal-->
						
						<div class="row">
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="btn-group input-group  col-lg-12 col-xs-12" ng-model="trip">
									<button type="button" id="twoway" ng-class="twoway" class="btn btn-default col-lg-4 col-md-4 col-sm-4 col-xs-4 mybtn" style="border-color: #bebeb9;" ng-click="twowayclick()">Roundtrip</button>
									<button type="button" id="oneway" ng-class="oneway" class="btn btn-default col-lg-4 col-md-4 col-sm-4 col-xs-4 mybtn" style="border-color: #bebeb9;" ng-click="onewayclick()">One way</button>
									<button type="button" id="multiway" ng-class="multiway" ng-click="multiwayclick()" class="btn btn-default col-lg-4 col-md-4 col-sm-4 col-xs-4 mybtn" style="border-color: #bebeb9;">Multi-City</button>
								</div>
							</div>
						</div>
						
						
						
						<div class="row onewaydiv" ng-if="onewaydiv" >
							<div class="col-lg-12  col-sm-12 col-xs-12 input-group">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  form-group">
									<input type="text" name="from" id="from" class="form-control autocomplete"  ng-model="fromcity" placeholder="From" required/>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
									  <input type="text" name="to" id="to"  class="form-control autocomplete"  ng-model="tocity" placeholder="To" required/>
								</div>
							</div>
						</div>
						
						<div class="row onewaydiv " ng-if="onewaydiv" >
							<div class="col-lg-12  col-sm-12 col-xs-12 input-group">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="text" name="deaprt" id="departuredate" class="form-control departuredate datepicker" placeholder="Departure Date"  ng-model="deptdate" required/>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
									  <input type="text" name="arrive" id="returndate" ng-disabled="returndaydis"  class="form-control returndate datepicker" placeholder="Return Date" ng-model="retdate" required/>
								</div>
							</div>
						</div>
						
						
						
						<div class="row multi1" ng-if="multiwaydiv" >
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="input-group col-lg-12 col-xs-12">
									 <span class="input-group-addon">
									<input type="text" name="from1" id="from1" 
									class="form-control  autocomplete" ng-model="from1" placeholder="From" required/></span>
									 <span class="input-group-addon"><input type="text" name="to1" id="to1"  ng-model="to1" 
									class="form-control autocomplete" placeholder="To" ng-model="to1" required/></span>
									 <span class="input-group-addon"><input type="text" name="departure1" id="depart1" class="form-control  departuredate1 multicitydate datepicker" placeholder="Depart"  ng-model="departuredate1" required/>	</span>							
								</div>
							</div>
						</div>
						<div class="row multi2 " ng-if="multiwaydiv" >
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="input-group col-lg-12 col-xs-12">
									<span class="input-group-addon"><input type="text" name="from2" id="from2" ng-model="from2" 
									class="form-control  autocomplete" placeholder="From" required/></span>
									<span class="input-group-addon"><input type="text" name="to2" id="to2" ng-model="to2"  
									class="form-control autocomplete" placeholder="To" required/></span>
									<span class="input-group-addon"><input type="text" name="departure2" id="depart2" class="form-control departuredate2 multicitydate datepicker" placeholder="Depart" ng-model="departuredate2" required/></span>								
								</div>
							</div>
						</div>
						<div class="row " ng-hide="!multi3">
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="input-group  col-lg-12 col-xs-12">
									<span class="input-group-addon"><input type="text" name="from3" id="from3" ng-model="from3" 
									class="form-control  autocomplete" placeholder="From"/></span>
									<span class="input-group-addon"><input type="text" name="to3" id="to3"  ng-model="to3" 
									class="form-control  autocomplete" placeholder="To"/></span>
									<span class="input-group-addon"><input type="text" name="departure3" id="depart3" class="form-control departuredate3  multicitydate datepicker" ng-model="departuredate3" placeholder="Depart"/></span>								
								</div>
							</div>
						</div>
						<div class="row" ng-hide="!multi4" >
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="input-group  col-lg-12 col-xs-12">
									<span class="input-group-addon"><input type="text" name="from4" id="from4" ng-model="from4" 
									class="form-control autocomplete" placeholder="From"/></span>
									<span class="input-group-addon"><input type="text" name="to4" id="to4" ng-model="to4" 
									class="form-control autocomplete" placeholder="To"/></span>
									<span class="input-group-addon"><input type="text" name="departure4" id="depart4" class="form-control  departuredate4 multicitydate datepicker" ng-model="departuredate4" placeholder="Depart"/></span>								
								</div>
							</div>
						</div>
						<div class="row " ng-hide="!multi5" >
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="input-group  col-lg-12 col-xs-12">
									<span class="input-group-addon"><input type="text" name="from5" id="from5" ng-model="from5"  
									class="form-control  autocomplete" placeholder="From"/></span>
									<span class="input-group-addon"><input type="text" name="to5" id="to5"  ng-model="to5" 
									class="form-control autocomplete" placeholder="To"/></span>
									<span class="input-group-addon"><input type="text" name="departure5" id="depart5" class="form-control  departuredate5 multicitydate datepicker" ng-model="departuredate5" placeholder="Depart"/></span>								
								</div>
							</div>
						</div>
						
						<div class="row addrow" style="color:#9c9d9e;" ng-if="multiwaydiv">
							<div class="col-lg-12  col-sm-12 col-xs-12 form-group">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group">
									 Destination(max 5) <span style="cursor:pointer;"  ng-click="adddestination()" class="addico"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add </span>
									&nbsp;&nbsp;<span class="rmico" style="cursor:pointer;" ng-click="rmdestination()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove</span> 
								</div>
							</div>
						</div>
						
						<div class="row" >
							<div class="col-lg-12  col-sm-12 col-xs-12 input-group">
														
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
									<span class="input-group-addon" >
										<select class="form-control"  ng-model="cabin">
											<option value="">Cabin</option>
											<option value="Business">Business</option>
											<option value="First">First</option>
											<option value="Premium Economy">Prmium Economy</option>
											</select></span>
									<span class="input-group-addon">
									<select class="form-control"  ng-model="nofpass" >
									<option value="">Passengers</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option></select></span>
									
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
											 
									  <input type="text" name="phone" id="phone"  ng-model="phone" class="form-control " placeholder="Phone Number" required/>  
								</div>
							</div>
						</div>
						
						<div class="row " >
						
							
							<div class="col-lg-12  col-sm-12 col-xs-12 input-group">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  form-group">
									<input type="text" name="givenname" ng-model="name" id="givenname" class="form-control " required placeholder="Enter Your Name"/>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
									<input type="email" name="email" id="email" class="form-control " ng-model="email" placeholder="E-Mail" required/>
								</div>
										
							</div>
						</div>
						
						
						<div class="row " >
							<div class="col-lg-12  col-sm-12 col-xs-12 input-group ">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<textarea class="form-control" rows="4" name="comment" id="comment" ng-model="comment" placeholder="Comment"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12  col-sm-12 col-xs-12  input-group">
								<div class="col-lg-12  col-sm-12 col-xs-12 g-recaptcha form-group" data-sitekey="6Ld5x20UAAAAACz32cjdeYZ0ys9vOeBhVPS8qCv6"></div>
							</div>
						</div>
						<div class="row" >
							<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
								<!--style="color: white;border: none;background-color: #e74c3c;"-->
									<input type="submit" class="btn btn-info btn-block" value="GET A FREE QUOTE">
								</div>
							</div>
						</div>
						
						
					</form>
				</div>
			
				<div class="col-lg-5 hidden-xs">
						
					<div class="jumbotron text-center">
					  <h2 style="color:#fff;">Get instant Discounts</h2> 
					  
					  <div>
						  Please submit the <button type="button" class="btn btn-default"><strong>Quotation</strong></button>  and we will get back to you!!
						</div>
					  <p></p> 
					  <!--<form>
						<div class="input-group">
						  <input type="email" class="form-control" size="50" placeholder="Email Address" required>
						  <div class="input-group-btn">
							<button type="button" class="btn btn-warning">Subscribe</button>
						  </div>
						</div>
					  </form>-->
					</div>
				</div>
	
			</div>
		</div>
	</div>







<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
      <div class="col-sm-8">
      <h2>About GoBusinessFares</h2><br>
      <h4>GoBusinessFares does all the footwork for you so you travel cost-effectively and effortlessly. All for privately negotiated contract prices that others cannot find online. </h4><br>
      <p>All our clients are assigned a dedicated Travel Manager, as we truly believe in the value of one-on-one service. Benefit from our wholesale contacts with airlines and save your time. Our quotation process allows us to cut travel costs without sacrificing travel comfort. Rest assured - You get absolutely the same seat for up to 50-70%* less than you'd pay anywhere online!</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
	  <br/><br/>
	   <span class="glyphicon glyphicon-plane logo slideanim" style="color:#ea6315;"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>TRAVEL:</strong> Traveling in comfort has never been simpler. GO BUSINESS FARES is your one stop shop for finding affordable and most comfortable Business and First Class Airfare available on the market.</h4><br>
      
	  <p><strong>BUSINESS CLASS AIRLINE TICKETS:</strong> Travel safe and comfortable on Business Class flights! Whether you undertake short-distance travel or long distance, the preference is always to reach the destination rejuvenated and relaxed. Flying business class offers you the opportunity to make the most of the journey.
      Business Class flights abound in world-class lounge, multi-course meals, Internet access, private screens and entertainment systems. Pamper yourself with a massage at selected airports or enjoy a flat bed in the sky and a personal mood lighting system, available on selected airlines and routes. Explore cheap business class flight deals on BestBusinessfares and enjoy traveling like never before.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>We provide AMENITIES & SERVICES and value customer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cutlery logo-small"></span>
      <h4>DINE</h4>
      <p>Award-winning restaurants</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>SPA</h4>
      <p>Spa & indoor pool</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user logo-small"></span>
      <h4>MEETING</h4>
      <p>Meeting facilities</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-phone logo-small"></span>
      <h4>Concierge</h4>
      <p>Concierge services</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-equalizer logo-small"></span>
      <h4>Complimentary Wi-Fi</h4>
      <p>Complimentary Wi-Fi</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-eye-open logo-small"></span>
      <h4 style="color:#303030;">City View</h4>
      <p>Sweeping city views</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-edit logo-small"></span>
      <h4>Art</h4>
      <p>Fine art collection</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-glass logo-small"></span>
      <h4>WATER</h4>
      <p>Complimentary bottled water</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-resize-small logo-small"></span>
      <h4 style="color:#303030;">PET</h4>
      <p>Pet-friendly accommodation</p>
    </div>
  </div>
  
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>Some of our lowest price that we offer</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/paris.jpg" alt="Paris" width="400" height="300">
         <p><strong>EUROPE</strong></p>
		<p style="text-align:left; padding-left:10px;"> Fly From</p>
        <p>Amsterdam, Athens, Budapest, Brussels, Copenhagen, Frankfurt, London, Milan, Paris,Munich, Rome, Vienna.. </p>
		<p style="text-align:left; padding-left:10px;">From:&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 20px;color:#5bc0de; font-weight: 700;">$1789*</span>	<button style="margin-left:50px;" class="btn btn-primary">Book Now</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/newyork.jpg" alt="New York" width="400" height="300">
        <p><strong>AMERICA</strong></p>
		<p style="text-align:left; padding-left:10px;"> Fly From</p>
        <p>New York, San Francisco, Los Angeles, Las Vegas, Washington, Miami, Chicago, Seattle, Boston, San Diego..</p>
		<p style="text-align:left; padding-left:10px;">From:&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 20px;color:#5bc0de; font-weight: 700;">$1349*</span>	<button style="margin-left:50px;" class="btn btn-primary">Book Now</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/asia.jpeg" alt="Asia" width="400" height="300">
         <p><strong>ASIA</strong></p>
		<p style="text-align:left; padding-left:10px;"> Fly From</p>
        <p>Bangkok, Beijing, Bali, Hong Kong, Tokyo, Singapore, Taipei, Manila, Jakarta, Seoul, Phuket, Osaka..</p>
		<p style="text-align:left; padding-left:10px;">From:&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 20px;color:#5bc0de; font-weight: 700;">$1935*</span>	<button style="margin-left:50px;" class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>
  
  <br>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/dubai.jpeg" alt="Middle East" width="400" height="300">
         <p><strong>MIDDLE EAST</strong></p>
		<p style="text-align:left; padding-left:10px;"> Fly From</p>
        <p>Abu Dhabi, Beirut, Cairo, Doha, Dubai, Amman. Bahrain, Casablanca, Dammam, Jeddah, Kuwait, Riyadh.. </p>
		<p style="text-align:left; padding-left:10px;">From:&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 20px;color:#5bc0de; font-weight: 700;">$1875*</span>	<button style="margin-left:50px;" class="btn btn-primary">Book Now</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/aus.jpeg" alt="Australia" width="400" height="300">
        <p><strong>AUSTRALIA</strong></p>
		<p style="text-align:left; padding-left:10px;"> Fly From</p>
        <p>Adelaide, Auckland, Brisbane, Cairns, Melbourne, Nadi, Perth, Queenstown, Sydney, Wellington.. </p>
		<p style="text-align:left; padding-left:10px;">From:&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 20px;color:#5bc0de; font-weight: 700;">$2509*</span>	<button style="margin-left:50px;" class="btn btn-primary">Book Now</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/africa.jpg" alt="Africa" width="400" height="300">
         <p><strong>AFRICA</strong></p>
		<p style="text-align:left; padding-left:10px;"> Fly From</p>
        <p>Abuja, Addis Ababa, Cape Town, Durban, Johannesburg, Kilimanjaro, Lagos, Nairobi, Seychelles, Dar Es Salaam..</p>
		<p style="text-align:left; padding-left:10px;">From:&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 20px;color:#5bc0de; font-weight: 700;">$1968*</span>	<button style="margin-left:50px;" class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>
  
  <br>
  
  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This site Offered me one of the best deals. I am so happy with the result!"<br><span>Kathik D, Software Developer, India.</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Business Man, London</span></h4>
      </div>
      <div class="item">
        <h4>"Happy with the chepeast deal that I received.."<br><span>George Wilson, Retired Employee, Sydney.</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div>
    <h2>Offers</h2>
    <h4>Choose a Cabin plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Business Class</h1>
        </div>
        <div class="panel-body">
          
        </div>
        <div class="panel-footer">
          <h4>Fares to Europe from $1,789*</h4>
		  <h4>Fares to Asia from $1,868*</h4>
		  <h4>Fares to Middle East from $1,875*</h4>
		  <h4>Fares to Oceania from $2,509*</h4>
		  <h4>Fares to Africa from $1,968*</h4>
		  <h4>Fares to India & ISC from $2,165*</h4>
		  <h4>Fares to Latin America from $1,349*</h4>
          <button class="btn btn-lg">Get a Quote</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>First Class</h1>
        </div>
        <div class="panel-body">
         
        </div>
        <div class="panel-footer">
          <h4>Fares to Europe from $3,789*</h4>
		  <h4>Fares to Asia from $2,868*</h4>
		  <h4>Fares to Middle East from $2,875*</h4>
		  <h4>Fares to Oceania from $4,509*</h4>
		  <h4>Fares to Africa from $2,968*</h4>
		  <h4>Fares to India & ISC from $3,165*</h4>
		  <h4>Fares to Latin America from $2,349*</h4>
          <button class="btn btn-lg">Get a Quote</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Premium Economy</h1>
        </div>
        <div class="panel-body">
         
        </div>
        <div class="panel-footer">
          <h4>Fares to Europe from $789*</h4>
		  <h4>Fares to Asia from $868*</h4>
		  <h4>Fares to Middle East from $875*</h4>
		  <h4>Fares to Oceania from $1009*</h4>
		  <h4>Fares to Africa from $968*</h4>
		  <h4>Fares to India & ISC from $1065*</h4>
		  <h4>Fares to Latin America from $649*</h4>
          <button class="btn btn-lg">Get a Quote</button>
        </div>
      </div>      
    </div>    
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Detroit, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +1 86687088</p>
      <p><span class="glyphicon glyphicon-envelope"></span> info@gobusinessfares.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(41.878114, -87.629798);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>GoBusinessFares  <a href="https://www.gobusinessfares.com" title="Visit gobusinessfares">www.gobusinessfares.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

<div id="processing" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header">
                <h4 class="modal-title">Please Wait...</h4>
            </div>
            <div class="modal-body loading-body">
                <img src="img/loading.gif" class="img-responsive" />
            </div>
			<!--<div class="modal-footer">
			  <button type="button" id="myModalClose" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>-->
        </div>
    </div>
</div>


</body>
</html>
